body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f71d1d; /* Naranja */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #b73333; /* Azul */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #337AB7; /* Azul */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #337AB7; /* Azul */
  border-radius: 3px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #F7941D; /* Naranja */
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #FFA033; /* Naranja más claro */
}
